<!DOCTYPE html>
<html>
	<head>
		<title>My Page</title>
	</head>

	<body>
	<table border=1>
		<tr><td id="name" colspan="2">Гарнык Михаил Васильевич</td></tr>
		<tr>
			<td rowspan="5"><%= image_tag("avatar.jpg") %></td>
		</tr>
		<tr>
			<td><%= link_to "Обо мне", href="#" %></td>
		</tr>
		<tr>
			<td><%= link_to "Мои работы", href="#" %></td>
		</tr>
		<tr>
			<td><%= link_to "Сделать заказ", href="#" %></td>
		</tr>
		<tr>
			<td><%= link_to "Контакты", href="#" %></td>
		</tr> 		
	</table>	
	</body>
</html>